body {
	margin: 0;
	background: #B3D5FF;
	color: white;
}

* {
	user-select: none;
}

html.disable-scroll, body.disable-scroll {
	margin: 0; 
	height: 100%; 
	overflow: hidden
}

.vertical-bottom, .vertical-center, .vertical-top, .horizontal-left, .horizontal-center, .horizontal-right {
	margin: 0;
	position: absolute;
}

.vertical-top {top: 0%;}
.vertical-center {
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.vertical-bottom {bottom: 0%;}
.horizontal-left {left: 0%;}
.horizontal-center {
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.horizontal-right {right: 0%;}

.horizontal-center.vertical-center {
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pixel {
	image-rendering: pixelated;
}

.kanit-regular {
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.kanit-bold-italic {
	font-family: "Kanit", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.jua-regular {
	font-family: "Jua", sans-serif;
	font-weight: 400;
	font-style: normal;
}